<title>CV Ferre Vekemans</title>

<div class="wrapper mt-lg-5">
    <div class="sidebar-wrapper">
        <div class="profile-container">
            <img class="profile handpointer" src="assets/images/profile.png" (click)="goToLink('assets/images/profile-large.jpg')" alt="" />
            <h1 class="name">{{ cv.name }}</h1>
            <h3 class="tagline">{{ cv.title }}</h3>
        </div><!--//profile-container-->
        
        <div class="contact-container container-block">
            <ul class="list-unstyled contact-list">
                <li class="email"><fa-icon [icon]="faEnvelope"></fa-icon><a href="mailto:{{ cv.mail }}">{{ cv.mail }}</a></li>
                <li class="phone"><fa-icon [icon]="faPhone"></fa-icon><a href="tel:{{ cv.phoneshort }}">{{ cv.phone }}</a></li>
                <li class="website"><fa-icon [icon]="faGlobe"></fa-icon><a href="{{ cv.dns }}" target="_blank">{{ cv.dnsshort }}</a></li>
                <li class="linkedin"><fa-icon [icon]="faLinkedinIn"></fa-icon><a href="{{ cv.linkedin }}" target="_blank">{{ cv.linkedinshort }}</a></li>
                <li class="github"><fa-icon [icon]="faGithub"></fa-icon><a href="{{ cv.github }}" target="_blank">{{ cv.githubshort }}</a></li>
            </ul>
        </div><!--//contact-container-->

        <div class="education-container container-block">
            <h2 class="container-block-title">Education</h2>
            <div class="item" *ngFor="let educationitem of cv.education">
                <h4 class="degree">{{ educationitem.title }}</h4>
                <h5 class="meta">{{ educationitem.institution }}, {{ educationitem.location }}</h5>
                <div class="time">{{ educationitem.start }} - {{ educationitem.end }} </div>
            </div><!--//item-->
        </div><!--//education-container-->
        
        <div class="languages-container container-block">
            <h2 class="container-block-title">Languages</h2>
            <ul class="list-unstyled interests-list">
                <li *ngFor="let languange of cv.languanges">{{ languange.name }} <span class="lang-desc">({{ languange.desc }})</span></li>
            </ul>
        </div><!--//interests-->
        
        <div class="interests-container container-block">
            <h2 class="container-block-title">Interests & hobbies</h2>
            <ul class="list-unstyled interests-list">
                <li *ngFor="let hobby of cv.hobbies">{{ hobby }}</li>
            </ul>
        </div><!--//interests-->
        
    </div><!--//sidebar-wrapper-->
    
    <div class="main-wrapper">
        
        <section class="section summary-section">
            <h2 class="section-title"><span class="icon-holder"><fa-icon [icon]="faUser"></fa-icon></span>Info</h2>
            <div class="summary">
                <p *ngFor="let paragraph of cv.info">{{ paragraph }}</p>
            </div><!--//summary-->
        </section><!--//section-->
        
        <section class="section experiences-section">
            <h2 class="section-title"><span class="icon-holder"><fa-icon [icon]="faBriefcase"></fa-icon></span>Experiences</h2>
            
            <div class="item" *ngFor="let experience of cv.experiences">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">{{ experience.title }}</h3>
                        <div class="time">{{ experience.start }} - {{ experience.end }}</div>
                    </div><!--//upper-row-->
                    <div class="company">{{ experience.company }}, {{ experience.location }}</div>
                </div><!--//meta-->
                <div class="details">
                    <p>{{ experience.description }}</p>  
                </div><!--//details-->
            </div><!--//item-->
            
        </section><!--//section-->
        
        <section class="section projects-section">
            <h2 class="section-title"><span class="icon-holder"><fa-icon [icon]="faArchive"></fa-icon></span>Projects</h2>
            <div class="intro">
                <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
            </div><!--//intro-->
            <div class="item">
                <span class="project-title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-5-startup-template-for-software-projects/" target="_blank">CoderPro</a></span> - <span class="project-tagline">A responsive website template designed to help developers launch their software projects. </span>
                
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-5-template-for-saas-businesses/" target="_blank">Launch</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services.</span>
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-5-vcard-portfolio-template-for-software-developers/" target="_blank">DevCard</a></span> - <span class="project-tagline">A portfolio website template designed for software developers.</span>
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/bootstrap-template-for-mobile-apps-nova-pro/" target="_blank">Nova Pro</a></span> - <span class="project-tagline">A responsive Bootstrap theme designed to help app developers promote their mobile apps</span>
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">DevStudio</a></span> - 
                <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
            </div><!--//item-->
        </section><!--//section-->
        
        <section class="skills-section section">
            <h2 class="section-title"><span class="icon-holder"><fa-icon [icon]="faRocket"></fa-icon></span>Skills &amp; Knowledge</h2>
            <div class="flex-wrap mb-4" role="group">
                <ng-container *ngFor="let skilltype of cv.skilltypes">
                    <a [ngClass]="{active: getFilter()===skilltype}" type="button" class="level-title m-1" (click)="setFilter(skilltype)">
                        <fa-icon *ngIf="getFilter()!==skilltype" [icon]="faBook"></fa-icon>
                        <fa-icon *ngIf="getFilter()===skilltype" [icon]="faBookOpen"></fa-icon>
                         {{ skilltype }}
                    </a>
                </ng-container>
                <a [ngClass]="{active: getFilter()==='All'}" type="button" class="level-title m-1" (click)="setFilter('All')">
                    <fa-icon *ngIf="getFilter()!=='All'" [icon]="faBook"></fa-icon>
                    <fa-icon *ngIf="getFilter()==='All'" [icon]="faBookOpen"></fa-icon>
                     All
                </a>
            </div>
            <div class="skillset"> 
                <ng-container *ngFor="let skill of cv.skills">
                    <div class="item" *ngIf="skill.type===getFilter() || getFilter()==='All'">
                        <h3 class="level-title">{{ skill.skill }}</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: {{ skill.value }}%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                               
                    </div><!--//item-->
                </ng-container>
            </div>  
        </section><!--//skills-section-->
        
    </div><!--//main-body-->
</div>

<footer class="footer">
    <div class="text-center">
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed with <fa-icon [icon]="faHeart"></fa-icon> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </div><!--//container-->
</footer><!--//footer-->

<router-outlet></router-outlet>
